[user]
    name = Aida sofia Lily
    email = aidasofialily@gmail.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[alias]
    st = status
    co = checkout
    br = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[init]
    defaultBranch = main
